/* Carousel Container */
.carousel {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Carousel Slides */
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
  }
  
  .carousel-slide img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .carousel-content {
    flex-grow: 1;
  }
  
  .carousel-message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .carousel-label {
    font-size: 14px;
    color: #888;
  }
  
  /* Carousel Navigation Buttons */
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #0056b3;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  